*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#f6f2fc;
    font-family:Arial, sans-serif;
}

/* MAIN CONTAINER */

.admin-container{
    width:90%;
    margin:40px auto;
}

/* HEADING */

.admin-container h1{
    text-align:center;
    color:#5A189A;
    font-size:60px;
    margin-bottom:50px;
}

/* STATS SECTION */

.stats{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
    margin-bottom:50px;
}

.card{
    background:white;
    width:280px;
    padding:40px;
    border-radius:20px;
    text-align:center;
    box-shadow:0 5px 15px rgba(0,0,0,0.08);
}

.card h2{
    color:#7B2CBF;
    font-size:60px;
    margin-bottom:10px;
}

.card p{
    font-size:20px;
    color:#555;
}

/* BUTTON SECTION */

.admin-buttons{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:25px;
    margin-top:30px;
}

.admin-buttons button{
    background:#7B2CBF;
    color:white;
    border:none;
    padding:22px;
    font-size:28px;
    border-radius:20px;
    cursor:pointer;
    transition:0.3s;
}

.admin-buttons button:hover{
    background:#5A189A;
    transform:translateY(-3px);
}

/* BACK BUTTON */

.back-btn{
    margin-top:40px;
    width:100%;
    background:#5A189A;
    color:white;
    border:none;
    padding:20px;
    font-size:24px;
    border-radius:20px;
    cursor:pointer;
}

/* FORMS */

.form-container{
    width:700px;
    margin:50px auto;
    background:white;
    padding:40px;
    border-radius:20px;
    box-shadow:0 5px 15px rgba(0,0,0,0.08);
}

.form-container h2{
    text-align:center;
    color:#5A189A;
    margin-bottom:30px;
}

.form-container input,
.form-container textarea,
.form-container select{
    width:100%;
    padding:15px;
    margin-bottom:20px;
    border:1px solid #ddd;
    border-radius:10px;
    font-size:16px;
}

.form-container button{
    width:100%;
    padding:15px;
    border:none;
    border-radius:10px;
    background:#7B2CBF;
    color:white;
    font-size:18px;
    cursor:pointer;
}

/* TABLES */

.table-container{
    width:95%;
    margin:40px auto;
    background:white;
    padding:25px;
    border-radius:20px;
    box-shadow:0 5px 15px rgba(0,0,0,0.08);
}

table{
    width:100%;
    border-collapse:collapse;
}

th{
    background:#7B2CBF;
    color:white;
    padding:15px;
}

td{
    padding:15px;
    text-align:center;
    border-bottom:1px solid #ddd;
}

tr:hover{
    background:#f5edff;
}

/* MOBILE */

@media(max-width:900px){

    .admin-buttons{
        grid-template-columns:1fr;
    }

    .admin-container h1{
        font-size:40px;
    }

    .card{
        width:100%;
    }

    .form-container{
        width:95%;
    }
}